<section class="row mt-5">
  <div class = "col-lg-9 pr-4">
    <div class="row item-shopping">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-4">
            <img src="https://images-submarino.b2w.io/produtos/01/00/img/1530885/9/1530885985G1.jpg" width="80px">
          </div>
          <div class="col-lg-8">
            Vestido de madrinha festas de cascamento formatura várias cores
          </div>
        </div>

      </div>
      <div class="col-lg-1 text-center">
        <b>GG</b>
      </div>
      <div class="col-lg-1 text-center">
        <b>12</b>
      </div>
      <div class="col-lg-1">
        <div class="cors" style="background-color:#cccccc"></div>
      </div>
      <div class="col-lg-2 text-center">
        <b>R$ 356,90</b>
      </div>
    </div>

  </div>
  <div class = "col-lg-3">
    <h2 class="font-medium bg-pink color-white pl-3 mb-0">Resumo do pedido</h2>
    <div class="p-2 bg-gray">
      <div class="row m-0">
        <div class="col-lg-8 font-thin">1 Produto</div>
        <div class="col-lg-4 font-thin text-right">R$ 3456,87</div>
        <div class="col-lg-8 font-thin mt-2">Frete</div>
        <div class="col-lg-4 font-thin mt-2 text-right">R$ 50,98</div>
      </div>
      <hr class="mt-4">
      <div class="row m-0">
        <div class="col-lg-8"><h2 class="font-medium">Total</h2></div>
        <div class="col-lg-4"><p class="font-medium mt-2">R$ 432,80</p></div>
      </div>
      <div class="text-center mt-3">
        <button mat-raised-button class="bg-green color-white">
          Continuar
        </button>
      </div>
    </div>


  </div>
</section>
