.cors {
  cursor: pointer;
  padding: 10px 4px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.item-shopping {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
